:root {
  --verde: #5ca720;
  --preto: #161616;
  --linhas: #a5a1a1;
  --fundo_footer: #f9f9f9;
  --fundo: #fff;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

  color: var(--preto);
  font-family: "Lato", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  max-width: 1900px;
  background-color: var(--fundo);
}

.cabecalho {
  width: 100%;
  height: 60px;
  padding: 0 60px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cabecalho span {
  font-weight: 500;
  font-size: 20px;
  text-transform: lowercase;
}

.cabecalho nav ul {
  width: 100%;
}

.cabecalho nav ul li {
  display: inline-block;
}

.cabecalho nav ul li a {
  color: var(--verde);
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
}

.principal {
  width: 100%;
}

.principal .banner {
  width: 100%;
}

.principal .banner img {
  width: 100%;
  height: auto;
}

.principal .conteudo {
  width: 100%;
}

.principal .conteudo .promocao {
  padding: 30px 60px;
  border-bottom: 0.5px solid var(--linhas);

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.principal .conteudo .promocao h1 {
  text-transform: uppercase;
  font-size: 18px;
}

.principal .conteudo .promocao p {
  text-transform: lowercase;
  font-size: 14px;
}

.principal .conteudo .produtos {
  padding: 40px 60px;

  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  grid-gap: 20px;
}

.principal .conteudo .produtos .produto {
  width: 303px;
  height: 393px;
}

.principal .conteudo .produtos .produto img {
  width: 303px;
  height: 303px;
  object-fit: cover;
}

.principal .conteudo .produtos .produto p {
  font-size: 14px;
}

.principal .conteudo .produtos .produto p span {
  font-size: 18px;
  margin-left: 5px;
  font-weight: 600;
  color: var(--verde);
}

.rodape {
  background-color: var(--fundo_footer);
}

.rodape .atendimento-newsletter,
.rodape .midias-pagameto {
  padding: 30px 60px;
  border-top: 1px solid var(--linhas);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rodape .atendimento-newsletter ul {
  list-style: none;
}

.rodape .atendimento-newsletter ul li {
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
}

.rodape .atendimento-newsletter ul li a {
  text-decoration: none;
}

.rodape .atendimento-newsletter form label {
  font-weight: 600;
  font-size: 16px;
}

.rodape .atendimento-newsletter form div {
  width: 330px;
  border: none;
  margin-top: 10px;

  display: flex;
  flex-direction: row;
}

.rodape .atendimento-newsletter form div input {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid var(--linhas);
}

.rodape .atendimento-newsletter form div button {
  height: 40px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  color: var(--fundo);
  border-radius: 0 5px 5px 0;
  background-color: var(--verde);
}

.rodape .midias-pagameto {
  flex-wrap: wrap;
}

.rodape .midias-pagameto ul {
  list-style: none;
}

.rodape .midias-pagameto ul li {
  display: inline-block;
  margin: 0 5px;
}

.rodape .midias-pagameto ul li svg {
  width: auto;
  height: 25px;
}

@media only screen and (max-width: 1068px) {
  .principal .conteudo .produtos {
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 745px) {
  .principal .conteudo .produtos {
    grid-template-columns: auto;
    justify-content: center;
  }

  .rodape .atendimento-newsletter {
    flex-direction: column;
    align-items: flex-start;
  }

  .rodape .atendimento-newsletter form {
    width: 100%;
    margin-top: 40px;
  }

  .rodape .atendimento-newsletter form div {
    width: 100%;
    flex-direction: column;
  }

  .rodape .atendimento-newsletter form div button {
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 422px) {
  .cabecalho {
    padding: 0 30px;
  }

  .principal .conteudo .produtos {
    width: 100%;
    padding: 20px 30px;
  }

  .principal .conteudo .produtos .produto {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .principal .conteudo .produtos .produto img {
    width: 100%;
    height: 250px;
  }

  .principal .conteudo .promocao {
    padding: 15px 30px;
  }

  .principal .conteudo .promocao h1 {
    font-size: 16px;
  }

  .rodape .atendimento-newsletter,
  .rodape .midias-pagameto {
    padding: 15px 30px;
  }
}
